.preview-container {
  position: relative;
  padding-left: 15px;
  margin-right: 20px;
}

.preview_area {
  display: flex;
}
.md-layout {
  max-height: 95vh;
  overflow-y: auto;
}
.compress-files-list {
  width: 80%;
  margin-top: 30px;
  text-align: center;
  height: 87vh;
  overflow: auto;
}
.preview-card {
  cursor: grab;
  flex: 1 1;
  margin: 4px;
  max-width: 215px;
  min-width: 215px;
  min-height: 230px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fdfdfd;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}

.preview-card:focus,
.preview-card:active,
.preview-card:visited {
  border: dotted 2px #e76d26;
}
.preview_img {
  margin-top: 40px;
}
.preview-img {
  width: 140px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  background-color: #a2a2a2;
}

.file__actions {
  top: 8px;
  right: 8px;
  position: absolute;
  display: inline-flex;
  /* display: none; */
  z-index: 100;
}
.file__btn {
  padding: 3px;
  width: 24px;
  height: 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  background: #0000ff;
  margin-left: 4px;
  z-index: 1030;
  border-radius: 100%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sidebar-active .tool__sidebar {
  -ms-flex-preferred-size: 440px;
  flex-basis: 440px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 120px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.compress_tool_sidebar {
  height: 100vh;
  background-color: #fff;
}

.compress_btn,
.compress_responsive_btn {
  font-size: 22px;
  line-height: 26px;
  min-height: 48px;
  padding: 8px 12px;
  color: #fff;
  background-color: #0000ff;
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 17%;
}
.compress_responsive_btn {
  display: none;
}

.tool__sidebar__inactive {
  min-width: 400px;
  padding: 10px;
  max-width: 400px;
}

.split_option {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.md-radio-label {
  font-weight: 500 !important;
}
@media (max-width: 640px) {
  .uploader__btn {
    min-width: auto;
  }
  .drop-area {
    width: 100%;
  }

  .md-layout {
    max-height: unset;
    overflow-y: auto;
  }

  .compress_tool_sidebar {
    display: none;
  }
  .add-more {
    right: 100px !important;
  }
  .compress-files-list {
    width: 100%;
    min-height: 80vh;
  }
  .compress_responsive_btn {
    display: block;
    position: absolute;
    top: 80vh;
    right: -30px;
    font-size: 20px;
  }
}
