.preview-container {
  position: relative;
  margin-top: 2rem;
  padding-left: 40px;
}

.preview_area {
  display: flex;
}

.preview-card {
  cursor: grab;
  flex: 1 1;
  margin: 4px;
  max-width: 215px;
  min-width: 215px;
  min-height: 230px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}

.preview-card:focus,
.preview-card:active,
.preview-card:visited {
  border: dotted 2px #e76d26;
}

.preview_img {
  margin-top: 40px;
}

.preview-img {
  width: 140px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  background-color: #a2a2a2;
}

.file__actions {
  top: 8px;
  right: 8px;
  position: absolute;
  display: inline-flex;
  /* display: none; */
  z-index: 100;
}

.file__btn {
  padding: 3px;
  width: 24px;
  height: 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  background: #0000ff;
  margin-left: 4px;
  z-index: 1030;
  border-radius: 100%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.merge__sidebar {
  text-align: center;
  height: 89vh;
  background-color: #fff;
  max-width: 20% !important;
  min-width: 20px !important;
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.draggable-item {
  margin: 5px;
  padding: 10px;
  background-color: lightblue;
  cursor: move;
}

.add-more {
  width: fit-content;
  position: absolute;
  margin: auto;
  top: 40px;
}

.add-more .fileOne {
  right: 30px;
}

.add-more .fileMore {
  right: 100px;
}

.option__panel__content {
  margin: 10px;
  background: #def2ff;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 130px;
  text-align: left;
}

.Merge__btn {
  font-size: 22px;
  line-height: 26px;
  min-height: 48px;
  padding: 8px 12px;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #0000ff;
  background: linear-gradient(180deg, #0000ff 0%, #0004ff 100%);
  padding: 15px 40px;
  font-weight: 600;
  cursor: pointer;
}

#pickfiles {
  display: block;
  background-color: #0000ff;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#orderByName {
  margin-top: 20px;
  background-color: #fff;
  padding: 9px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.prew_title {
  word-wrap: break-word;
}

.badge-container {
  position: relative;
}

h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.badge[data-v-3a2b3612] {
  position: absolute;
  top: -10px;
  right: 30px;
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 100%;
  padding: 0px 8px;
  font-size: 10px;
  z-index: 1000;
  border: solid 2px #0000ff;
}

@media (max-width: 991px) {
  .merge__sidebar {
    display: none;
  }

  .add-more {
    right: 30px !important;
  }

  .merge-files-list {
    width: 100%;
  }
}
