.md-badge {
  position: absolute;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 9px;
  top: 5px;
  font-size: 18px;
  font-style: revert;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #fff;
  pointer-events: none;
  z-index: 6;
  background: green !important;
}
.split-files-list {
  width: 80%;
}

.preview-container {
  position: relative;
  margin-top: 2rem;
}

.preview_area {
  display: flex;
}
.preview-card {
  cursor: grab;
  flex: 1 1;
  margin: 4px;
  max-width: 165px;
  height: 215px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fdfdfd;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

.preview-img {
  width: 140px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  background-color: #a2a2a2;
}

.split_tool__sidebar {
  min-height: 89vh;
  min-width: 20%;
  max-width: 20%;
  text-align: center;
  /* position: absolute; */
  top: 0;
  right: 0;
  margin-top: 0px;
  background-color: #fff;
}

.draggable-item {
  margin: 5px;
  padding: 10px;
  background-color: lightblue;
  cursor: move;
}

.option__panel__content {
  margin: 10px;
  background: #def2ff;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}

.option__panel__title {
  font-size: 22px;
  line-height: 26px;
  min-height: 48px;
  padding: 8px 12px;
  color: #fff;
  background-color: #0000ff;
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.option__panel__title:hover {
  background-color: #e76d26;
}

#pickfiles {
  display: block;
  background-color: #0000ff;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.range__container {
  margin: 12px;
  padding: 12px;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -ms-flexbox;
  display: block;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px dashed #707078;
}

.split_card {
  display: inline-flex;
}

.page_number {
  display: block;
  margin: 10px 65px 0;
}

.split_card_body {
  margin-left: 5px;
  margin-right: 5px;
}

h3 {
  font-weight: 500;
  margin-bottom: 50px;
}

.social_btn i {
  color: #fff !important;
}

.md-button-content,
.md-button-content i {
  color: #0000ff !important;
}

.range_btn {
  padding: 5px 0px;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 10px;
  color: #f5f5fa !important;
  font-weight: 500;
  background-color: #fefefe !important;
}

.range_btn .active_btn {
  background-color: #0000ff !important;
}

.active_btn {
  background-color: #0000ff !important;
}

.active_btn .md-button-content {
  color: #fff !important;
}

.range_btn:hover .md-button-content {
  color: #fff !important;
}

.md-button-content:hover,
.md-button-content:focus,
.md-button-content:active {
  color: #fff !important;
}

.badge {
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #0000ff;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.05em;
  font-family: "Roboto Mono", monospace;
}

#merge-options {
  padding-bottom: 30px;
}
.responsive-setting {
  display: none;
}

@media (max-width: 640px) {
  .split-files-list {
    width: 100%;
  }
  .split_tool__sidebar {
    display: none;
  }
  .responsive-setting {
    display: block;
    position: absolute;
    font-size: 26px;
    background-color: #fff;
    color: #ff0703;
    border-radius: 50%;
    padding: 6px;
    top: 72px;
    right: 20px;
  }
}
